<div class="kwidth nopd">
    <div class="footer-list">
        <div class="left-nav fl">
            <ul>
                <li>
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Hiển thi sản phẩm</font>
                        </font>
                    </h3>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Sách</font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Điện thoại </font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Máy tính sách tay</font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Đồng hồ</font>
                        </font>
                    </a>
                </li>
                <li>
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Về chúng tôi</font>
                        </font>
                    </h3>
                    <a href="about.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Văn hóa </font>
                        </font>
                    </a>
                    <a href="about.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">doanh nghiệp Phạm vi kinh doanh</font>
                        </font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>