<div class="container pt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 p-2">
            <div class="r3_counter_box">
                <i class="fa fa-mail-forward"></i>
                <div class="stats">
                    <h5>45</h5>
                    <div class="grow grow ml-3">
                        <p>Products</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-2">
            <div class="r3_counter_box">
                <i class="fa fa-eye"></i>
                <div class="stats">
                    <h5>70</h5>
                    <div class="grow grow3 ml-3">
                        <p>Visitors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-2">
            <div class="r3_counter_box">
                <i class="fa fa-users"></i>
                <div class="stats d-flex justify-content-center">
                    <h5>50</h5>
                    <div class="grow grow1 ml-3">
                        <p>New Users</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-2">
            <div class="r3_counter_box">
                <i class="fa fa-usd"></i>
                <div class="stats">
                    <h5>70</h5>
                    <div class="grow grow2 ml-3">
                        <p>Seller</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>